{
  "AppConfig": {
    "TokenLifetime": 1000
  },
  "AllowedOrigins": [
    "https://localhost:8443",
    "https://localhost:9443",
    "http://localhost:8080"
  ],
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Kestrel": {
    "EndPoints": {
      "HttpsDefaultCert": {
        "Url": "https://0.0.0.0:5001"
      }
    }
  },
  "ConnectionStrings": {
    "Default": "Server=localhost,8433;Database=test_studentbank;User Id=sa;Password=Secret1234;",
    "Default_IntegratedAuth": "Server=localhost;Database=test_studentbank;Trusted_Connection=True;"
  }
}
