{
  "AppConfig": {
    "Secret": "",
    "TokenLifetime": 15,
    "InviteCodeLength": 6
  },
  "AllowedOrigins": [
  
  ],
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": ""
  }
}
